{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static "dashboard/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/adminlte.min.css" %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>AR</b><br/>DASHBOARD</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form method="post" action="{% url 'account_login' %}" novalidate>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger form-group">
                            <span class="error-block"><i class="fas fa-exclamation"></i> {{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="login" class="form-control {% if form.login.errors %}is-invalid {% endif %}" id="exampleInputEmail1"
                               placeholder="Enter email" aria-describedby="exampleInputEmail1-error"
                               aria-invalid="true">
                        {% for error in form.login.errors %}
                        <span id="exampleInputEmail1-error"
                              class="error invalid-feedback">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control {% if form.password.errors %}is-invalid {% endif %}"
                               id="exampleInputPassword1" placeholder="Password"
                               aria-describedby="exampleInputPassword1-error">
                        {% for error in form.password.errors %}
                        <span id="exampleInputPassword1-error"
                              class="error invalid-feedback">{{ error }}</span></div>{% endfor %}


                <button type="submit" class="btn btn-success float-right mt-2">Submit</button>

            </form>
            {#            <p class="mb-1">#}
            {#                <a href="forgot-password.html">I forgot my password</a>#}
            {#            </p>#}
            {#            <p class="mb-0">#}
            {#                <a href="register.html" class="text-center">Register a new membership</a>#}
            {#            </p>#}
        </div>

    </div>
</div>
<script src="{% static "dashboard/js/adminlte.min.js" %}"></script>
</body>
</html>
