{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static "dashboard/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/adminlte.min.css" %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>{{ SITE_NAME }}</b><br/>AR</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            {{ form.errors }}
            <form action="" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="email" name="login" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" name="remember" id="id_remember">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>

                </div>
            </form>
            {#            <p class="mb-1">#}
            {#                <a href="forgot-password.html">I forgot my password</a>#}
            {#            </p>#}
            {#            <p class="mb-0">#}
            {#                <a href="register.html" class="text-center">Register a new membership</a>#}
            {#            </p>#}
        </div>

    </div>
</div>
<script src="{% static "dashboard/js/adminlte.min.js" %}"></script>
</body>
</html>
