{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="index3.html" class="brand-link">
        <img src='{% static  "dashboard/img/AdminLTELogo.png" %}' alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">{{ SITE_NAME }}</span>
    </a>

    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src='{% static  "dashboard/img/user2-160x160.jpg" %}' class="img-circle elevation-2"
                     alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Dashboard
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>

                <li class="nav-header">Your Space</li>
                <li class="nav-item">
                    <a href="pages/calendar.html" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Profile
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            CMS
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'page_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pages</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'article_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Articles</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'slider_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sliders</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="{% url 'attachment_list' %}" class="nav-link">
                        <i class="nav-icon far fa-folder"></i>
                        <p>
                            Attachment
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'configuration_view' %}" class="nav-link">
                        <i class="nav-icon fa fa-gear"></i>
                        <p>
                            Configuration
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'template_list' %}" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Templates
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/gallery.html" class="nav-link">
                        <i class="nav-icon far fa-user"></i>
                        <p>
                            Leads
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'audience-list' %}" class="nav-link">
                        <i class="nav-icon far fa-user-circle"></i>
                        <p>
                            Audience
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/gallery.html" class="nav-link">
                        <i class="nav-icon far fa-circle"></i>
                        <p>
                            Campaign
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Chat with me
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="{% url 'chat_bot_nlp' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Open AI Chat</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'chat_bot_cv' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Open AI Computer Vision</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'chat_bot_gm' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Open AI Generative Models</p>
                            </a>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a href="{% url 'nltk_train' %}" class="nav-link">#}
{#                                <i class="far fa-circle nav-icon"></i>#}
{#                                <p>NLTK Train</p>#}
{#                            </a>#}
{#                        </li>#}
                        <li class="nav-item">
                            <a href="{% url 'nltk_chat' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>NLTK Chat</p>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>

    </div>

</aside>